body {
  background-color: orange;
}

p {
  margin: 0;
}

/* INPUT */
input {
  outline: 0;
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 25px;
}

button {
  height: auto;
}

::placeholder {
  opacity: 0.6;
}

/* CENTER CONTENT */
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: column;
  height: 100vh;
}

.main-content {
  text-align: center;
  width: 500px;
}

.main h1 {
  /*color: white;*/
  /*color: black;*/
}


/* RESULTS TABLE */
#results {
  margin-top: 20px;
  width: 100%;
}

#results th {
  text-align: center;
}

#dietResults{
	width: 100%;
}
.setBorder{
	border-style: solid;
	border-color: rgb(50,50,50);
	border-width: 3px 0 1px; 
}
.nutrition{
	text-align: center;
	width: 100%;	
	padding: 20px 0 2px;
}

